{% extends 'base.html.twig' %}

{% block title %}SomeType index{% endblock %}

{% block body %}
    <h1>SomeType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for some_type in some_types %}
            <tr>
                <td>{{ some_type.id }}</td>
                <td>{{ some_type.type }}</td>
                <td>
                    <a href="{{ path('app_some_type_edit', {'id': some_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_some_type_new') }}">Create new</a>
{% endblock %}
