{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Use links above to navigate.</p>

    <h3>Todo</h3>
    {% for task in tasks %}
        <div>
            {% if task.completed %}
                <input type="checkbox" disabled checked>
            {% else %}
                <input type="checkbox" disabled>
            {% endif %}
            <label>{{ task.name }}</label>
        </div>
    {% endfor %}
{% endblock %}